body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
 }
 
 header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 h1 {
    margin: 0;
 }
 
 #locationForm {
    display: flex;
    align-items: center;
 }
 
 #latitudeInput,
 #longitudeInput {
    margin-right: 10px;
 }
 
 #weatherInfo {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }
 
 #forecastList {
    list-style: none;
    padding: 0;
 }
 
 #forecastList li {
    margin-bottom: 10px;
 }
 